.projects {
    min-height: 100vh;
    width: 100%;
    overflow-y: visible;
}

html,
body {
  margin: 0;
  padding: 0;
}

.project-area {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  margin-top: 20px;
  margin-left: 1%;
  margin-right: 1%;
  overflow: visible;
}

.project-area-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 0.5%;
  height: 100%;
  overflow: visible;
}

.lefttop-topic {
  margin-top: 20px;
  height: 40vh;
  text-align: center;
}

.project-title {
  font-size: 180px;
  font-weight: 800;
  line-height: 1;
  margin-top: -5%;
  letter-spacing: -3px;
  color: #111; /* change color if needed */
}

.lefttop-topic p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 18px;
  margin-top: -12%;
  line-height: 1.6;
  color: #555;
}

.leftbottom-allprojects{
  height: 60vh;
  /* width: 100%; */
  /* overflow-y: visible;
  overflow-x:auto; */
  overflow: visible;
  padding-right: 2%;
  margin-top: 10%;
  margin-bottom: 40px;
}

.right-selectedproject{
  height: 100vh;
  width: 50%;
}


.box img {
  width: auto;
  height: 130px;
  display: block;
  border-radius: 10px;
}

.projectlist {
  display: flex;
  width: 100%;
  gap: 14px;
  overflow-y: visible;
  overflow-x:hidden;
  /* overflow: visible; */
  white-space: nowrap;

    /* hide scrollbar visually */
  scrollbar-width: none;     /* Firefox */
  -ms-overflow-style: none;  /* IE / Edge */
}

.projectlist::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}

.box {
  text-align: center;
  flex: 0 0 auto;
  cursor: pointer;
  z-index: 1;
  margin-top: 2%;
}

.box:hover {
  z-index: 10;
}

.selectedproject{
  display: flex;
  flex-direction: column;
  padding: 5% 8%;
  align-items: center;
  height: 75vh;
}

.selectedproject-images{
height: 75vh;
width: 118%;
position: relative;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden; /* hides cropped parts */
border-radius: 8px;
margin-top: -5%;
}

.selectedproject-images:hover .img-btn,
.selectedproject-images:hover .image-dots,
.selectedproject-images:hover .number-layer{
  opacity: 1;
  visibility: visible;
}

.selectedproject-images:hover .slopeBegin{
  opacity: 0.2;
  visibility: visible;
}

.selectedproject-images img{
  height: 100%;
  width: 100%;
  object-fit: cover; /* fills box without stretching */
  object-position: center; /* keeps main focus centered */
  display: block;
 transition: transform 0.3s ease;
}
.selectedproject-namedescription{
  height: 35%;
  width: 110%;
  align-items: center;    /* centers h3 and p horizontally */
  justify-content: center; /* centers them vertically */
  text-align: justify;
}

.selectedproject-namedescription h3,
.selectedproject-namedescription p{
text-align: center;
}

.selectedproject-techstack{
height: 1%;
width: 110%;
margin-top: -2%;
}

.img-btn {
  opacity: 0;
  visibility: hidden;
  /* transition: opacity 0.5s ease; */
  position: absolute;
  top: 45%; /* distance from top */
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50px;
  cursor:pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; 
  width: 45px;   /* make the button a circle */
  height: 45px;
  transition: transform 0.25s ease, background 0.25s ease;

}

.left-btn{
  left: 2%;
  padding-right: 0.5%;
}

.right-btn{
  right: 2%;
  padding-left: 0.5%;
}

.left-btn:hover{
  transform: translateX(-5px);
}

.right-btn:hover{
  transform: translateX(5px);
}

/* .arrow-icon {
  transition: transform 0.25s ease;
} */

.arrow-icon {
  position: relative;
}

/* LEFT arrow animation */
.left-btn:hover .arrow-icon {
  animation: slide-left 1.2s linear infinite;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  60% {
    transform: translateX(-10px);
    opacity: 0;
  }
  61% {
    transform: translateX(10px); /* reappear on right side */
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* RIGHT arrow animation */
.right-btn:hover .arrow-icon {
  animation: slide-right 1.2s linear infinite;
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  60% {
    transform: translateX(10px);
    opacity: 0;
  }
  61% {
    transform: translateX(-10px); /* reappear on left side */
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}



.image-dots {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s ease;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 8px;
  width: 100%;
  z-index: 8;
}
.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #aaa;
  cursor: pointer;
  transition: 0.3s;
}
.dot.active {
  background: #fff;
  transform: scale(1.2);
}


.parallax-wrapper {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: 20px;
  background: #20232f;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 2;
}

.slopeBegin,
.slopeEnd{
  position: absolute;
  width: 160%;
  height: 100%;
  top: 0;
  z-index: 1;
  pointer-events: none;
}

.slopeBegin {
  left: -25%;
  /* background-color: #20232f; */
  clip-path: polygon(98% 10%, 90% 0, 80% 100%, 52% 100%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s ease;
  position: absolute;
  z-index: 3;
}

.slopeEnd {
  right: -30%;
  clip-path: polygon(96% 0, 100% 0, 80% 100%, 46% 100%);
  z-index: 1;
}

/* .slopeEnd2 {
  right: -25%;
  clip-path: polygon(90% 0, 100% 0, 80% 100%, 50% 100%);
  z-index: 1;
} */

.purple {
  background: linear-gradient(to right, #f312fb 0%, #a21cfc 100%);
}
.teal {
  background: linear-gradient(to right, #08ebeb 0%, DeepSkyBlue 100%);
}

.number-layer {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s ease;
  position: absolute;
  bottom: 5%;
  right: 1%;
  font-size: 120px;
  color: #cfcfcfa7;
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
  z-index: 3;
  pointer-events: none;
}

.selectedprojectbelowarea {
display: flex;
top: 10%;
height: 17vh;
}