.projects {
    height: 100vh;
    width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

.project-area {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 50%; /* space between columns */
  margin-top: 20px;
  margin-left: 20px;
}

.project-area-left{
  display: flex;
  flex-direction: column;
}

.lefttop-topic {
  height: 40vh;
}

.leftbottom-allprojects{
  height: 60vh;
}

.right-selectedproject{
  height: 100vh;
}


.box img {
  width: 200px;
  height: auto;
  display: block;
  border-radius: 10px;
}

.projectlist {
  display: flex;
  width: 50%;
  gap: 10px;
  overflow-x: auto;
  white-space: nowrap;

    /* hide scrollbar visually */
  scrollbar-width: none;     /* Firefox */
  -ms-overflow-style: none;  /* IE / Edge */
}

.projectlist::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}

.box {
  text-align: center;
  flex: 0 0 auto;
}

