.projects {
    min-height: 100vh;
    width: 100%;
    overflow-y: visible;
}

html,
body {
  margin: 0;
  padding: 0;
}

.project-area {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  margin-top: 20px;
  margin-left: 1%;
  margin-right: 1%;
  overflow: visible;
}

.project-area-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 0.5%;
  height: 100%;
  overflow: visible;
}

.lefttop-topic {
  margin-top: 20px;
  height: 40vh;
  text-align: center;
}

.project-title {
  font-size: 180px;
  font-weight: 800;
  line-height: 1;
  margin-top: -5%;
  letter-spacing: -3px;
  color: #111; /* change color if needed */
}

.lefttop-topic p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 18px;
  margin-top: -12%;
  line-height: 1.6;
  color: #555;
}

.leftbottom-allprojects{
  height: 60vh;
  /* width: 100%; */
  /* overflow-y: visible;
  overflow-x:auto; */
  overflow: visible;
  padding-right: 2%;
  margin-top: 10%;
  margin-bottom: 40px;
}

.right-selectedproject{
  height: 100vh;
  width: 50%;
}


.box img {
  width: auto;
  height: 130px;
  display: block;
  border-radius: 10px;
}

.projectlist {
  display: flex;
  width: 100%;
  gap: 14px;
  overflow-y: visible;
  overflow-x:hidden;
  /* overflow: visible; */
  white-space: nowrap;

    /* hide scrollbar visually */
  scrollbar-width: none;     /* Firefox */
  -ms-overflow-style: none;  /* IE / Edge */
}

.projectlist::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}

.box {
  text-align: center;
  flex: 0 0 auto;
  cursor: pointer;
  z-index: 1;
  margin-top: 2%;
}

.box:hover {
  z-index: 10;
}

.selectedproject{
  display: flex;
  flex-direction: column;
  padding: 5% 8%;
  align-items: center;
  height: 75vh;
}

.selectedproject-images{
height: 75vh;
width: 118%;
position: relative;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden; /* hides cropped parts */
border-radius: 8px;
margin-top: -5%;
}

.selectedproject-images:hover .img-btn,
.selectedproject-images:hover .image-dots {
  opacity: 1;
  visibility: visible;
}



.selectedproject-images img{
  height: 100%;
  width: 100%;
  object-fit: cover; /* fills box without stretching */
  object-position: center; /* keeps main focus centered */
  display: block;
 transition: transform 0.3s ease;
}
.selectedproject-namedescription{
  height: 35%;
  width: 110%;
  align-items: center;    /* centers h3 and p horizontally */
  justify-content: center; /* centers them vertically */
  text-align: justify;
}

.selectedproject-namedescription h3,
.selectedproject-namedescription p{
text-align: center;
}

.selectedproject-techstack{
height: 1%;
width: 110%;
margin-top: -2%;
}

.img-btn {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
  position: absolute;
  top: 45%; /* distance from top */
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 20px;
  cursor:pointer;
  z-index: 10;
}

.left-btn{
  left: 2%;
}

.right-btn{
  right: 2%;
}
.image-dots {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s ease;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 8px;
  width: 100%;
}
.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #aaa;
  cursor: pointer;
  transition: 0.3s;
}
.dot.active {
  background: #fff;
  transform: scale(1.2);
}
