.projects {
    height: 100vh;
    width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

.project-area {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  margin-top: 20px;
  margin-left: 1%;
  margin-right: 1%;
}

.project-area-left{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0.5%;
}

.lefttop-topic {
  height: 40vh;
}

.leftbottom-allprojects{
  height: 60vh;
  /* width: 100%; */
  overflow: hidden;
  padding-right: 2%;
  margin-top: 10%;
}

.right-selectedproject{
  height: 100vh;
  width: 50%;
}


.box img {
  width: auto;
  height: 130px;
  display: block;
  border-radius: 10px;
}

.projectlist {
  display: flex;
  width: 100%;
  gap: 10px;
  overflow-x:auto;
  white-space: nowrap;

    /* hide scrollbar visually */
  scrollbar-width: none;     /* Firefox */
  -ms-overflow-style: none;  /* IE / Edge */
}

.projectlist::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}

.box {
  text-align: center;
  flex: 0 0 auto;
}

.selectedproject{
  display: flex;
  flex-direction: column;
  border:solid;
  border-radius: 10px;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 5%;
  padding-bottom: 5%;
  align-items: center;
  height: 70vh;
}

.selectedproject-images{
border:solid;
border-radius: 10px;
height: 60%;
width: 110%;
}


.selectedproject-images img{
height: 100%;
width: 100%;
}

.selectedproject-namedescription{
border:solid;
border-radius: 10px;
height: 40%;
width: 110%;
}

.selectedproject-techstack{
border:solid;
border-radius: 10px;
height: 20%;
width: 110%;
}